<div class="sub-title">
        <button class="make_button", id="received_button">クーリエ</button>
        <button class="make_button", id="pickup_request_button">航空貨物</button>    
        <!--mok_start-create-received-->
        <div class="received", style="display:none", id="received_form">
                
            <%= form_with model: @received , local: true do |f| %>
            
                <%= f.label :received_date, "日付" %>
                <%= f.date_field :received_date %>
                
                <%= f.label :awb %>
                <%= f.text_field :awb %>
                
                <%= f.label :invoice %>
                <%= f.text_field :invoice %>
                
                <%= f.label :inspection %>
                <%= f.check_box :inspection %>
                
                <%= f.label :shipping %>
                <%= f.check_box :shipping %>
                
                <%= f.label :number_of_order %>
                <%= f.text_field :number_of_order %>
                
                <%= f.label :shipping_date %>
                <%= f.date_field :shipping_date %>
                
                
                <%= f.submit %>
                
            <% end %>
        </div>
        <!--mok-start-create-pickup-->
        <div class="pickup_request", style="display:none", id="pickup_request_form">
            <%= form_with model: @pickup_request, local: true do |f| %>
            
                <%= f.label :pickup_date %>
                <%= f.date_field :pickup_date %>
                
                <%= f.label :type %>
                <%= f.text_field :type %>
                
                <%= f.label :number_of_car %>
                <%= f.text_field :number_of_car %>
                
                <%= f.label :weight %>
                <%= f.text_field :weight %>
                
                <%= f.label :arrange %>
                <%= f.check_box :arrange %>
                
                <%= f.label :car_number %>
                <%= f.text_field :car_number%>
                
                <%= f.label :received %>
                <%= f.check_box :received %>
                
                <%= f.label :number_of_total_order %>
                <%= f.text_field :number_of_total_order %>
                
                <%= f.submit "ボタン"%>
                
            <% end %>
            
            
            
        </div>
</div>
<div class="datas" >

    <div class="table table_box">
      <div class="tr_box">
        <div class="tr th pickup_date">集荷日</div>
        <div class="tr th type">車種</div>
        <div class="tr th number_of_car">台数</div>
        <div class="tr th number_of_total_order">行数</div>
        <div class="tr th remark_column">備考</div>
        <div class="tr th function_column">機能</div>
      </div>
      <% @datas.each  do  |data|%>
      <div class="tr_box data_show" id=<%= "data_#{data["id"]}" %>>
        <div class="tr td pickup_date_row"><%= data.pickup_date%></div>
        <div class="tr td type_row"><%= data.type%></div>
        <div class="tr td number_of_car_row"><%= data.number_of_car%></div>
        <div class="tr td number_of_total_order_row"><%= data.number_of_total_order%></div>
        <div class="tr td remark_column"></div>
        <div class="tr td function_row">
            <span><%= link_to "編集", receveds_modify_path(id: data["id"]), remote: true %></span>
        </div>
      </div>
      <%end%>
    </div>
</div>