        <%= form_with(model: @data, url: work_path(id: @data.id), method: :patch, remote: true, class: "form_with_css") do |f| %>
                <div class="tr td name-row"><%= @data.user.name %></div>
                <div class="tr td start-row">
                        <%= f.datetime_field :start, value: @data.start.strftime('%Y-%m-%dT%T') unless @data.start == nil %>
                        <%= f.datetime_field :start unless @data.start != nil %>
                </div>
                <div class="tr td end_row">
                        <%= f.datetime_field :end , value: @data.end.strftime('%Y-%m-%dT%T') unless @data.end == nil%>
                        <%= f.datetime_field :end unless @data.end != nil%>
                </div>
                <div class="tr td hours_row"><%= @data.hours %></div>
                <div class="tr td function_row">
                    <span><%= f.submit "保存", class: "btn"%></span>
         
                    <span class="btn"><%= link_to("削除", work_path(@data.id),method: :delete , remote: true)%></span>
                </div>
        <%end%>
       
        