<h1 class="title">データ一覧</h1>

<div class="sub-title"></div>
       
<div class="search-box-container">
    <%= form_with url: receiveds_path, scope: :search, local: true, method: :get do |f| %>
    <%= f.date_field :start_day , class: "search-start-day"%>
    <span>〜</span>
    <%= f.date_field :end_day, class: "search-end-day" %>
    <%= f.label :awb, "AWB", class: "search-car-type"%>
    <%= f.text_field :awb %>
    <%= f.label :inv, "INV", class: "search-car-type"%>
    <%= f.text_field :inv %>
    
    <%= f.submit '検索', class: "search-btn" %>
    <% end %>
    
</div>
<!--mok-start-show-->
<div class="pagination-box">
<%= paginate @datas%>
</div>
<div class="datas" >

    <div class="table table_box">
      <div class="tr_box tr_box_th">
        <div class="tr th received_data_column">名前</div>
        <div class="tr th awb-column">開始</div>
        <div class="tr th invoice_column">終了</div>
        <div class="tr th thnumber_column">作業時間</div>
        <div class="tr th function_column">機能</div>
      </div>
      <% @datas.each  do  |data|%>
      <div class="tr_box data_show tr_box_td" id=<%= "data_#{data.id}" %>>
        <div class="tr td received_data_row"><%= data.user.name%></div>
        <div class="tr td awb-row"><%= data.start%></div>
        <div class="tr td invoice_row"><%= data.end%></div>
        <div class="tr td number_row"><%= data.hours%></div>
        <div class="tr td function_row">
            <span><%= link_to "編集", receveds_modify_path(id: data.id), remote: true %></span>
        </div>
      </div>
      <%end%>
    </div>

  
</div>
