<h1 class="title">ユーザ一覧</h1>

<div class="sub-title">
        
</div>
<div class="search-box-container">

    
</div>
<div class="pagination-box">
<%= paginate @datas%>
</div>

<div class="datas" >

    <div class="table table_box">
      <div class="tr_box tr_box_th">
        <div class="tr th received_data_column">name</div>
        <div class="tr th awb-column">email</div>
        <div class="tr th function_column">機能</div>
      </div>
      <% @datas.each  do  |data|%>
      <div class="tr_box data_show tr_box_td" id=<%= "data_#{data["id"]}" %>>
        <div class="tr td name_row"><%= link_to "#{data.name}", user_path(data) %></div>
        <div class="tr td name_row"><%= data.email %></div>
        <div class="tr td function_row">
            <span><%= link_to "編集", edit_user_path(id: data["id"]), remote: true %></span>
        </div>
      </div>
      <%end%>
    </div>

  
</div>
<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
