      <%= form_with(model: @data, remote: true, class: "form_with_css") do |f| %>
                <div class="tr td received_data_row"><%= f.date_field :received_date %></div>
                <div class="tr td awb-row"><%= f.text_field :awb %></div>
                <div class="tr td invoice_row"><%= f.text_field :invoice %></div>
                <div class="tr td number_row"><%= f.text_field :number_of_order %></div>
                <div class="tr td shipped_date_row"><%= f.date_field :shipped_date %></div>
                <div class="tr td emark_column"></div>
                <div class="tr td function_row">
                    <span><%= f.submit "保存"%></span>
                   
                    <span><%= link_to "削除", received_path(id: @data.id), method: :delete, local: true%></span>
                </div>
        <%end%>  
