
        <div class="tr td received_data_row"><%= @received.received_date%></div>
        <div class="tr td number-row"><%= @received.number%></div>
        <div class="tr td awb-row"><%= @received.awb%></div>
        <div class="tr td invoice_row"><%= @received.invoice%></div>
        <div class="tr td number_row"><%= @received.number_of_order%></div>
        <div class="tr td shipped_date_row"><%= @received.shipped_date %></div>
        <div class="tr td emark_column">
            <% if  pickup_exist?(@received.id)%>
            <%= "航空便　" %>
            <% else %>
            <%= "クーリエ" %>
            <% end %>
            
        </div>
        <div class="tr td function_row">
            <span><%= link_to "編集", receveds_modify_path(id: @received.id), remote: true %></span>
        </div>
