<h1 class="title">データ一覧</h1>

<div class="sub-title">
        <button class="make_button", id="received_button">クーリエ</button>
        <!--mok_start-create-received-->
        <div class="received", style="display:none", id="received_form">
                
            <%= form_with model: @received , local: true do |f| %>
            
                <%= f.label :received_date, "日付" %>
                <%= f.date_field :received_date %>
                
                <%= f.label :awb %>
                <%= f.text_field :awb %>
                
                <%= f.label :invoice %>
                <%= f.text_field :invoice %>
                
                <%= f.label :inspection %>
                <%= f.check_box :inspection %>
                
                <%= f.label :shipping %>
                <%= f.check_box :shipping %>
                
                <%= f.label :number_of_order %>
                <%= f.text_field :number_of_order %>
                
                <%= f.label :shipping_date %>
                <%= f.date_field :shipping_date %>
                
                
                <%= f.submit %>
                
            <% end %>
        </div>
</div>
<div class="search-box-container">
    <%= form_with url: receiveds_path, scope: :search, local: true, method: :get do |f| %>
    <%= f.date_field :start_day , class: "search-start-day"%>
    <span>〜</span>
    <%= f.date_field :end_day, class: "search-end-day" %>
    <%= f.label :awb, "AWB", class: "search-car-type"%>
    <%= f.text_field :awb %>
    <%= f.label :inv, "INV", class: "search-car-type"%>
    <%= f.text_field :inv %>
    
    <%= f.submit '検索', class: "search-btn" %>
    <% end %>
    
</div>
<!--mok-start-show-->
<div class="pagination-box">
<%= paginate @datas%>
</div>
<div class="datas" >

    <div class="table table_box">
      <div class="tr_box tr_box_th">
        <div class="tr th received_data_column">入荷日</div>
        <div class="tr th awb-column">AWB</div>
        <div class="tr th invoice_column">INV</div>
        <div class="tr th thnumber_column">行数</div>
        <div class="tr th shipped_date_column">出荷日</div>
        <div class="tr th remark_column">備考</div>
        <div class="tr th function_column">機能</div>
      </div>
      <% @datas.each  do  |data|%>
      <div class="tr_box data_show tr_box_td" id=<%= "data_#{data["id"]}" %>>
        <div class="tr td received_data_row"><%= data["received_date"]%></div>
        <div class="tr td awb-row"><%= data["awb"]%></div>
        <div class="tr td invoice_row"><%= data["invoice"]%></div>
        <div class="tr td number_row"><%= data["number_of_order"]%></div>
        <div class="tr td shipped_date_row"><%= data["shipped_date"]%></div>
        <div class="tr td emark_column">
        <% if  pickup_exist?(data.id)%>
        <%= "航空便　" %>
        <% else %>
        <%= "クーリエ" %>
        <% end %>
        
        </div>
        <div class="tr td function_row">
            <span><%= link_to "編集", receveds_modify_path(id: data["id"]), remote: true %></span>
        </div>
      </div>
      <%end%>
    </div>

  
</div>
