<div class="page-title">
    <h1 class="title">チャットルーム</h1>
</div>
<div class="add-user-container">
    <div class="button-box-new">
        <button class="make_button", id="pickup_request_button">ユーザーを招待</button> 
    </div>
</div>
<div class="chat-container">
    <div class="chat-box", id="chatbox">
        <% @messages.each do |message| %>
         <%= render 'messages/messages' , message: message %>
        <% end %>
    </div>
</div>
<%= form_with model: @message , method: :post do |f| %>
<div class="chat-new input-group mb-3">
    <%= f.text_field :content, placeholder: "Say Something...", class: "form-control" %>
    <%= f.hidden_field :room_id, value: @room.id %>
    
    <div class="input-group append">
        <%= f.submit "Send", class: "btn btn-primary" %>
    </div>
</div>
<%end%>

<div class="invite-users create-new-data", id="pickup_request_form">
    <div class="input-box">
    <i class="far fa-times-circle fa-lg closeicon"></i>
    <%= form_with model: @entry , method: :post do |f| %>
    <div class="input-group mb-3">
        <% @users.each do |user| %>
            <% if !entried?(user) %>
                <div class="users-chat">
                <p class="check-box-user"><%= user.name %></p>
                <%= f.check_box :user_ids,  { multiple: true}, user.id, nil%>
                </div>
            <%end%>
        <% end %>
                <%= f.hidden_field :room_id, value: @room.id %>
            <div class="input-group append">
                <%= f.submit "Invite", class: "btn btn-primary" %>
            </div>
            </div>
        <%end%>
</div>
</div>



<script>

    
    $(".closeicon").click(function(){
        $("#pickup_request_form").css('display', 'none');
    })
</script>