
<div class="add">
<%= form_with url: work_schedules_path(id: @new.pickup_request.id), scope: :worktime, remote: true do |f|%>

<%= f.label :workdate %>
<%= f.date_field :workdate %>

<%= f.submit "追加"%>
<% end %>
</div>

<div class="workdates">
<% @datas.each  do  |data|%>
<% if !data.workdate.nil? %>
<div id="<%= data.id %>">
    <%=data.workdate%> <span><%= link_to "削除", work_schedule_path(id: data.id), method: :delete, remote: true %> </span>
<% end %>
<%end%>
</div>