<% @datas.each  do  |data|%>
<div id="<%= data.id %>"><%=data.workdate%></div>
<% end %>
<div class="add"><%= form_with model: @new, remote: true do |f|%></div>

<%= f.label :workdate %>
<%= f.date_field :workdate %>

<%= f.submit "ボタン"%>
<% end %>
