<!DOCTYPE html>
<html>
  <head>
    <title>KintaiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="header"><%= render 'layouts/header' %></section>
  
    <section class="main">
        <%= render 'layouts/left-sidebar' %>
        
        <section class="main-container"><%= yield %></section>
        
    </section>
  </body>
</html>
